body {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

hr {
  border: none;
  height: 5px;
  color: #7d97ad;
  background-color: #7d97ad;
}

.thin-line {
  height: 1px;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100:
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.credits {
  text-align: right;
}

.credits a:nth-child(odd) .fa-flickr {
  color: #0063dc;
}

.credits a:nth-child(even) .fa-flickr {
  color: #fc329b;
}